@media (max-width: 500px) {
  .container3{
    height: 202vh;

  }
  .container2{
    height: 100vh;
  }
  .main3 {

    height: 60vh;
    margin: 17% auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
  }

}